<ion-buttons slot="start">
    <ion-button color="light" size="large" (click)="confirmQuit()">X</ion-button>
</ion-buttons>

<ion-content [fullscreen]="true" class="ion-padding custom-background">

  <ion-grid>
    <ion-row justify-content-center>
      <ion-col size="12" class="ion-text-center">
        <ion-text color="light">
          <h2>{{ pergunta }}</h2>
        </ion-text>
      </ion-col>
    </ion-row>

    <ion-row *ngFor="let opcao of opcoes; let i = index" class="ion-justify-content-center ion-padding-top">
      <ion-col size="10">
        <ion-button 
          color="dark" 
          shape="round" 
          expand="block"
          (click)="verificarResposta(i)">
          {{ opcao }}
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
