<ion-toolbar color="orange">
  <ion-buttons slot="start">
    <ion-back-button defaultHref="/"></ion-back-button>
  </ion-buttons>
</ion-toolbar>

<ion-content [fullscreen]="true">
  <h1>ESCOLHA A REGIÃO QUE QUER JOGAR</h1>
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col size="12">
        <ion-button expand="block" class="botao-branco">
          <span class="bolinha" style="background-color: green;"></span>
          Norte
        </ion-button>
      </ion-col>
      
      <ion-col size="12">
        <ion-button expand="block" class="botao-branco">
          <span class="bolinha" style="background-color: orange;"></span>
          Nordeste
        </ion-button>
      </ion-col>
      
      <ion-col size="12">
        <ion-button expand="block" class="botao-branco">
          <span class="bolinha" style="background-color: purple;"></span>
          Sudeste
        </ion-button>
      </ion-col>
      
      <ion-col size="12">
        <ion-button expand="block" class="botao-branco">
          <span class="bolinha" style="background-color: blue;"></span>
          Sul
        </ion-button>
      </ion-col>
      
      <ion-col size="12">
        <ion-button expand="block" class="botao-branco">
          <span class="bolinha" style="background-color: brown;"></span>
          Centro-Oeste
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
