<ion-content [fullscreen]="true">
  <div class="custom-header">
    <h1><span class="red-letter">F</span>azenda do <span class="red-letter">S</span>aber</h1>
  </div>

  <div id="container">
    <ion-button shape="round" size="large" color="danger" (click)="goToRegioesPage()">
      <ion-icon name="play-outline" slot="start"></ion-icon>
      <p>JOGAR</p>
    </ion-button>
  </div>

  <div class="custom-footer">
    <ion-button shape="round">
      <ion-icon name="game-controller-outline"></ion-icon>
    </ion-button>

    <ion-button shape="round">
      <ion-icon name="settings-outline"></ion-icon>
    </ion-button>
  </div>
</ion-content>